<%- include('layouts/header')%>
  <body style="margin: 30px auto;">
    <table style="width: 100%">
      <tbody>
        <tr>
          <td>
            <table style="background-color: #f6f7fb; width: 100%">
              <tbody>
                <tr>
                  <td>
                    <table style="width: 650px; margin: 0 auto; margin-bottom: 30px">
                      <tbody>
                        <tr>
                          <td><img src="/public/assets/images/logo.png" alt=""></td>
                          <td style="text-align: right; color:#999"><span><%= subject %></span></td>
                        </tr>
                      </tbody>
                    </table>
                    <table style="width: 650px; margin: 0 auto; background-color: #fff; border-radius: 8px">
                      <tbody>
                        <tr>
                          <td style="padding: 30px"> 
                            <p><strong>Dear <%= detail.name %></strong> ,</p>
                            <p>This is a confirmation of your upcoming appointment at [Medical Facility/Clinic Name].</p>
                            <table></table>
                            <h2>Appointment Details:</h2>
                            <table>
                              <tr>
                                <td>Date</td>
                                <td>[Date]</td>
                              </tr>
                              <tr>
                                <td>Time</td>
                                <td>[Time]</td>
                              </tr>
                              <tr>
                                <td>Location</td>
                                <td>[Location]</td>
                              </tr>
                            </table>
                            <h2>Additional Information:</h2>
                            <ul>
                              <li>Please arrive 15 minutes prior to your scheduled appointment time.</li>
                              <li>Bring any relevant medical records or test results.</li>
                              <li>Contact us at [Phone Number] or [Email Address] if you need to cancel or reschedule.</li>
                            </ul>
                            <p>Thank you for choosing [Medical Facility/Clinic Name]. We look forward to seeing you soon.</p>
                            <p style="margin-bottom: 0">Best regards.</p>
                            <strong>[Your Name/Medical Facility/Clinic Name]</strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <%- include('layouts/footer')%>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>