<%- include('layouts/header')%>
  <body style="margin: 30px auto;">
    <table style="width: 100%">
      <tbody>
        <tr>
          <td>
            <table style="background-color: #f6f7fb; width: 100%">
              <tbody>
                <tr>
                  <td>
                    <table style="width: 650px; margin: 0 auto; margin-bottom: 30px">
                      <tbody>
                        <tr>
                          <td><img src="" alt=""></td>
                          <td style="text-align: right; color:#999"><span><%= subject %></span></td>
                        </tr>
                      </tbody>
                    </table>
                    <table style="width: 650px; margin: 0 auto; background-color: #fff; border-radius: 8px">
                      <tbody>
                        <tr>
                          <td style="padding: 30px"> 
                            <p><strong>There was a request to change your password!</strong></p>
                            <p>If you did not make this request then please ignore this email. Otherwise, please click this link to change your password:</p>
                            <a href="{{ $params['url'] }}" style="padding: 10px; background-color: #24695c; color: #ffffff; display: inline-block; border-radius: 4px; margin-bottom: 18px">Verify email </a> 
                            <p style="margin-bottom: 0">Warm regards.</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <%- include('layouts/footer')%>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>