<!doctype html>

<html lang="en" class="light-style layout-wide customizer-hide" dir="ltr" data-theme="theme-default"
  data-assets-path="../../assets/" data-template="vertical-menu-template" data-style="light">

<head>
  <%- include('./layout/client/head') %>
    <style>
      .fieldset {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 15px;
        margin: 10em;
      }

      .fieldset h1 {
        position: absolute;
        top: 0;
        font-size: 18px;
        line-height: 1;
        margin: -9px 0 0;
        /* half of font-size */
        background: #fff;
        padding: 0 3px;
      }
    </style>
</head>

<body style="background-color:white">
  <!-- Content -->

  <div class="container d-flex justify-content-center align-items-center">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="row justify-content-center">
        <!-- Login -->
        <div class="card " style="box-shadow:none; padding-left: 50px; padding-right: 50px;">
          <div class="fieldset">
            <h1>CREATE NEW SERVICE CLIENT</h1>
            <div class="card-body " style="">
              <!-- Logo -->
              <div class="app-brand justify-content-center mb-6">
                <a href="/" class="app-brand-link">
                  <img src="/smartapps_logo.png" alt="smart revenue" style="width: 150px;">
                  <span class="app-brand-text demo text-heading fw-bold"></span>
                </a>
              </div>
              <!-- /Logo -->
              <!-- <h4 class="mb-1">Login 👋</h4> -->
              <div id="err"></div>

              <form id="create_client" class="row g-6" onsubmit="return false">
                <div class="col-12">
                  <label class="form-label" for="client_name">ORGAINSATION NAME <span
                      style="color: red;">*</span></label>
                  <input type="text" id="client_name" name="client_name" class="form-control"
                    placeholder="ORGAINSATION NAME" value="" required />
                </div>
                <div class="col-12 col-md-6">
                  <label class="form-label" for="client_email">ORGANISATION EMAIL</label>
                  <input type="email" id="client_email" name="client_email" class="form-control"
                    placeholder="Enter organisation email address" value="" required />
                  <small class="text-muted">Please provide a valid organisation email address (e.g.,
                    info@organisation.com).</small>
                </div>
                
                <div class="col-12 col-md-6">
                  <label class="form-label" for="client_phone">ORGAINSATION PHONE</label>
                  <input type="text" id="client_phone" name="client_phone" maxlength="11"
                    class="form-control phone-number-mask" placeholder="ORGAINSATION PHONE"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" value="" />
                </div>

                <div class="divider">
                  <div class="divider-text">ADMIN INFO</div>
                </div>
                <div class="col-12 col-md-4">
                  <label class="form-label" for="admin_surname">SURNAME <span style="color: red;">*</span></label>
                  <input type="text" id="admin_surname" name="admin_surname" class="form-control"
                    placeholder="ADMIN SURNAME" value="" required />
                </div>
                <div class="col-12 col-md-4">
                  <label class="form-label" for="admin_middlename">MIDDLENAME</label>
                  <input type="text" id="admin_middlename" name="admin_middlename" class="form-control"
                    placeholder="MIDDLE NAME" />
                </div>
                <div class="col-12 col-md-4">
                  <label class="form-label" for="admin_first_name">FIRST NAME <span style="color: red;">*</span></label>
                  <input type="text" id="admin_first_name" name="admin_first_name" class="form-control"
                    placeholder="ADMIN FIRST NAME" value="" required />
                </div>

                <div class="col-12 col-md-6">
                  <label class="form-label" for="client_admin_email">EMAIL</label>
                  <input type="email" id="client_admin_email" name="client_admin_email" class="form-control"
                    placeholder="Enter a valid email address" value="" />
                </div>

                <div class="col-12 col-md-6">
                  <label class="form-label" for="client_admin_phone">PHONE NUMBER</label>
                  <div class="input-group">
                    <span class="input-group-text">+234</span>
                    <input type="text" id="client_admin_phone" maxlength="11" name="client_admin_phone"
                      class="form-control phone-number-mask" placeholder="202 5551 0111"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                  </div>
                </div>
                <div class="col-12 col-md-12">
                  <label class="form-label" for="modalEditUserPhone">CLIENT LOGO</label>
                  <input type="file" id="client_logo" name="client_logo" class="form-control" accept="image/*"
                    required />
                </div>

                <p id="status"></p>
                <div class="col-12 text-center">
                  <!-- <span class="spinner-border" role="status" aria-hidden="true"></span>&nbsp; -->
                  <button type="submit" id="submit" class="btn btn-primary me-3">Submit</button>

                </div>
              </form>

              <p class="text-center">
                <span>Already have an account?</span>
                <a href="/login">
                  <span>login</span>
                </a>
              </p>
            </div>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>

  <!-- / Content -->

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->

  <%- include('./layout/landing/footer') %>
    <script>
      // $(".spinner-border").hide()
      const err = document.getElementById("err");
      const submit = document.getElementById("submit");
      document.getElementById('create_client').addEventListener('submit', async function (event) {
        event.preventDefault();
        // $(".spinner-border").show()

        submit.textContent = "Please wait ..."
        document.getElementById("submit").disabled = true;

        const formData = new FormData();
        // console.log(formData)
        // const progressBar = document.getElementById('progressBar');
        // const progressText = document.getElementById('progressText');
        const fileInput = document.getElementById('client_logo');
        const client_name = document.getElementById('client_name').value;
        const client_email = document.getElementById('client_email').value;
        const client_phone = document.getElementById('client_phone').value;
        const admin_surname = document.getElementById('admin_surname').value;
        const admin_middlename = document.getElementById('admin_middlename').value;
        const admin_first_name = document.getElementById('admin_first_name').value;
        const client_admin_email = document.getElementById('client_admin_email').value;
        const client_admin_phone = document.getElementById('client_admin_phone').value;

        const statusText = document.getElementById('status');
        statusText.textContent = '';

        const imageFile = fileInput.files[0];
        // console.log({client_name, client_email, client_phone, admin_surname, admin_middlename, admin_first_name, client_admin_email, client_admin_phone})
        formData.append('client', client_name.toUpperCase());
        formData.append('client_email', client_email);
        formData.append('client_phone', client_phone);
        formData.append('admin_surname', admin_surname.toUpperCase());
        formData.append('admin_middlename', admin_middlename ? admin_middlename.toUpperCase() : "");
        formData.append('admin_first_name', admin_first_name.toUpperCase());
        formData.append('client_admin_email', client_admin_email);
        formData.append('client_admin_phone', client_admin_phone);
        formData.append('image', imageFile);

        try {
          const response = await fetch(`/clients`, {
            method: "POST",
            body: formData,
          })

          // console.log(response)
          const result = await response.json();
          submit.textContent = "Submit"
          document.getElementById("submit").disabled = false;

          if (response.ok) {
            $(".spinner-border").hide()
            toastr.success("Successfully added");
            err.textContent = result.message
            err.style = "color: green";

            setTimeout(() => {
              location.assign('/login')
            }, "2000");
          } else {
            toastr.error(result.message);
            err.textContent = result.message
            err.style = "color: red";
          }
        } catch (error) {
          submit.textContent = "Submit"
          document.getElementById("submit").disabled = false;
          toastr.error(error.message);
          err.textContent = error.message
          err.style = "color: red";
        }

      });

      async function errorMessage(req) {

        const error = await req.text();
        const gh = JSON.parse(error)
        // console.log(gh)
        return gh.message
      }
    </script>
</body>

</html>