            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
                <div class="container-xxl">
                  <div
                    class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                    
                    
                  </div>
                </div>
              </footer>
              <!-- / Footer -->
  
              <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
          </div>
          <!-- / Layout page -->
        </div>
  
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
  
        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
      </div>
      <!-- / Layout wrapper -->
  
      <!-- Core JS -->
      <!-- build:js assets/vendor/js/core.js -->
  
      <script src="/assets/vendor/libs/jquery/jquery.js"></script>
      <script src="/assets/vendor/libs/popper/popper.js"></script>
      <script src="/assets/vendor/js/bootstrap.js"></script>
      <script src="/assets/vendor/libs/node-waves/node-waves.js"></script>
      <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
      <script src="/assets/vendor/libs/hammer/hammer.js"></script>
      <script src="/assets/vendor/libs/i18n/i18n.js"></script>
      <script src="/assets/vendor/libs/typeahead-js/typeahead.js"></script>
      <script src="/assets/vendor/js/menu.js"></script>
  
      <!-- endbuild -->
  
      <!-- Vendors JS -->
      <script src="/assets/vendor/libs/moment/moment.js"></script>
      <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>
      <script src="/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
      
      <script src="/assets/vendor/libs/toastr/toastr.js"></script>
     
  
  
      <!-- Main JS -->
      <script src="/assets/js/main.js"></script>
  
      <!-- Page JS -->
      <script src="/assets/js/extended-ui-sweetalert2.js"></script>
      <script src="/assets/js/app-ecommerce-dashboard.js"></script>